<font size="8">Data Acquisition, Modeling and Analysis: Big Data Analytics - Song Recommender</font>
<font size="6">Written by Alexander M. Pellegrino</font>
<font size="6">Under Dr. Rensheng Wang</font>
<font size="6">On October 21st, 2023</font>

<font size="6">Part 1 - Data Parsing</font>
<font size="4">This code segment is responsible for reading the data from the files and putting it into cleanly organized DataFrames for later processing. Because I misunderstood in the initial assignment and believed I needed to handle all the different ratings at once, I have copied the code that already processes all of the data for reuse. This project will filter out only the track ratings and utilize them, but all data will be contained within the frames.</font>

In [1]:
import math
import polars as pl

<font size="4">Due to the sheer number of lines, pandas ended up hitting limitations on its speed when processing the file, sometimes taking over half an hour to complete even when aggressively optimized at the cost of legibility. Though it introduces some inconvenience in library compatability, the significantly faster polars library will be utilized for as much of the data processing as possible. The dataframes will be converted to pandas frames for display purposes and for library interop when necessary. This adds overhead to displaying the frames and to sending the data to other libraries, but it speeds up the heaviest parts of the program: parsing and splitting the data.</font>

In [2]:
# Create number parsers that can handle the "None" string in the files
def parse_integer_value(value):
    return None if value is None or value == 'None' else int(value)

def parse_float_value(value):
    return None if value is None or value == 'None' else float(value)

# Album data parser
def load_album_data(file_path):
    # Need to be cautious here - we're loading the entire file at once, could block program if too large
    
    with open(file_path, 'r') as file:
        lines = file.readlines()
    
    # Finding the maximum number of genres in the dataset
    max_genres = max(len(line.strip().split('|')[2:]) for line in lines if '|' in line.strip())
    
    # Fixed columns
    album_ids = []
    artist_ids = []
    genre_lists = []
    
    # Read file line-by-line
    for line in lines:
        
        # Read known columns
        parts = line.strip().split('|')
        album_ids.append(parse_integer_value(parts[0]))
        artist_ids.append(parse_float_value(parts[1]))
        
        # Parse genre parts as floats, and pad with None if there are fewer genres than max_genres
        genre_parts = [parse_float_value(g) for g in parts[2:]]
        genre_parts.extend([None] * (max_genres - len(genre_parts)))
        genre_lists.append(genre_parts)
    
    # Organize data to place into DataFrame
    data = {
        "AlbumID": album_ids,
        "ArtistID": artist_ids
    }
    
    # Variable column width (genres)
    for i in range(max_genres):
        data[f"Genre_{i+1}"] = [genre[i] for genre in genre_lists]
    
    # Define the schema for the DataFrame
    album_schema = {
        "AlbumID": pl.Int64,
        "ArtistID": pl.Float64,
        **{f"Genre_{i+1}": pl.Float64 for i in range(max_genres)}
    }
    
    # Create the DataFrame with the schema
    df = pl.DataFrame(data, schema=album_schema)
    return df

# Artist data parser
def load_artist_data(file_path):
    # Artist data is just a list - no splitting or variable columns needed.
    artist_ids = []
    
    with open(file_path, "r") as file:
        for line in file:
            artist_ids.append(int(line.strip()))
    
    # Place into DataFrame for easier interop later
    df = pl.DataFrame({
        'ArtistID': artist_ids
    })
    return df

# Genre data parser
def load_genre_data(file_path):
    # List, similar to artist data.
    genre_ids = []
    genre_file = open(file_path, 'r')
    for line in genre_file:
        genre_ids.append(int(line.strip()))
    
    # Once again, placed into DataFrame for easier interop
    df = pl.DataFrame({
        'GenreID': genre_ids
    })
    return df

# Test data parser
def load_test_data(file_path):
    
    # Again, reading entire file at once due to variable columns. Must
    # be careful not to exceed system memory or lock CPU thread.
    with open(file_path, 'r') as file:
        lines = file.readlines()
    
    # Fixed columns
    user_ids = []
    track_ids = []
    
    # Handle the unique User|Count format of this file (also seen in training data)
    i = 0
    while i < len(lines):
        user_id, n = map(int, lines[i].strip().split('|'))
        i += 1 
        for _ in range(int(n)):
            track_id = int(lines[i].strip())
            user_ids.append(user_id)
            track_ids.append(track_id)
            i += 1
    
    # DataFrame for interop
    df = pl.DataFrame({
        'UserID': user_ids,
        'TrackID': track_ids
    })
    return df

# Track data parser
def load_track_data(file_path):
    
    # Memory warning; see prior functions
    with open(file_path, 'r') as file:
        lines = file.readlines()
    
    # Finding the maximum number of genres in the dataset
    max_genres = max(len(line.strip().split('|')[3:]) for line in lines if '|' in line.strip())
    
    # Fixed columns
    track_ids = []
    album_ids = []
    artist_ids = []
    genre_lists = []
    
    for line in lines:
        # Read known columns
        parts = line.strip().split('|')
        track_ids.append(parse_integer_value(parts[0]))
        album_ids.append(parse_float_value(parts[1]))
        artist_ids.append(parse_float_value(parts[2]))
        
        # Parse genre parts as floats, and pad with None if there are fewer genres than max_genres
        genre_parts = [parse_float_value(g) for g in parts[3:]]
        genre_parts.extend([None] * (max_genres - len(genre_parts)))
        genre_lists.append(genre_parts)
    
    # Organize data to place into DataFrame
    data = {
        'TrackID': track_ids,
        'AlbumID': album_ids,
        'ArtistID': artist_ids,
    }
    for i in range(max_genres):
        data[f"Genre_{i+1}"] = [genre[i] for genre in genre_lists]
    
    # Define DataFrame schema
    track_data_schema = {
        'TrackID': pl.Int64,
        'AlbumID': pl.Float64,
        'ArtistID': pl.Float64,
        **{f'Genre_{i+1}': pl.Float64 for i in range(max_genres)}  # Fixed dictionary comprehension
    }
    
    # Create final DataFrame
    df = pl.DataFrame(data, schema=track_data_schema)
    
    return df

# Training data parser
def load_training_data(file_path, artist_data, genre_data, album_data):
    
    # Memory warning; see above.
    with open(file_path, 'r') as file:
        lines = file.readlines()
    
    # The sheer number of lookups makes this function horribly slow when
    # searching DataFrames, even with Polars. Converting to set lookups
    # in order to optimize type categorization for each ID.
    artist_ids = set(artist_data['ArtistID'])
    genre_ids = set(genre_data['GenreID'])
    album_ids = set(album_data['AlbumID'])
    
    # Fixed columns
    user_ids = []
    item_ids = []
    item_types = []
    ratings = []
    
    # Handling the UserID|Count format
    i = 0
    while i < len(lines):
        user_id, n = map(int, lines[i].strip().split('|'))
        i += 1
        for _ in range(int(n)):
            parts = lines[i].strip().split('\t')
            item_id = int(parts[0])
            rating = int(parts[1])
            
            # Determine the item type based on the presence of the ID in different sets
            if item_id in artist_ids:
                item_type = 'Artist'
            elif item_id in genre_ids:
                item_type = 'Genre'
            elif item_id in album_ids:
                item_type = 'Album'
            else:
                item_type = 'Track'
            
            user_ids.append(user_id)
            item_ids.append(item_id)
            item_types.append(item_type)
            ratings.append(rating)
            i += 1 
    
    # Final DataFrame construction
    df = pl.DataFrame({
        'UserID': user_ids,
        'ItemID': item_ids,
        'ItemType': item_types,
        'Rating': ratings
    })
    return df

<font size="4">Testing File Parsers - Outputs need to be converted to Pandas frames in order to display properly in the Jupyter notebook.</font>

In [3]:
album_data = load_album_data("albumData2.txt")
album_data.to_pandas()

,AlbumID,ArtistID,Genre_1,Genre_2,Genre_3,Genre_4,Genre_5,Genre_6,Genre_7,Genre_8,...,Genre_12,Genre_13,Genre_14,Genre_15,Genre_16,Genre_17,Genre_18,Genre_19,Genre_20,Genre_21
0,0,NaN,214765.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,6,228091.0,158282.0,81520.0,242383.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,19,85028.0,103715.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,30,16832.0,31567.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,33,26330.0,149962.0,209270.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
52824,296104,125866.0,158282.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
52825,296106,221637.0,116130.0,9432.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
52826,296107,NaN,61215.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
52827,296108,93277.0,61215.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
52828,296109,84885.0,287681.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
artist_data = load_artist_data("artistData2.txt")
artist_data.to_pandas()

       ArtistID
0            16
1            23
2            35
3            40
4            49
...         ...
18669    295987
18670    296007
18671    296012
18672    296013
18673    296041

[18674 rows x 1 columns]

In [5]:
genre_data = load_genre_data("genreData2.txt")
genre_data.to_pandas()

     GenreID
0        208
1        315
2        642
3       1075
4       1271
..       ...
562   292093
563   293670
564   293688
565   294138
566   294310

[567 rows x 1 columns]

In [6]:
test_data = load_test_data("testItem2.txt")
test_data.to_pandas()

        UserID  TrackID
0       199810   208019
1       199810    74139
2       199810     9903
3       199810   242681
4       199810    18515
...        ...      ...
119995  249010    72192
119996  249010    86104
119997  249010   186634
119998  249010   293818
119999  249010   262811

[120000 rows x 2 columns]

In [7]:
track_data = load_track_data("trackData2.txt")
track_data.to_pandas()

,TrackID,AlbumID,ArtistID,Genre_1,Genre_2,Genre_3,Genre_4,Genre_5,Genre_6,Genre_7,...,Genre_12,Genre_13,Genre_14,Genre_15,Genre_16,Genre_17,Genre_18,Genre_19,Genre_20,Genre_21
0,1,106710.0,281667.0,214765.0,162234.0,155788.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,280977.0,233685.0,131552.0,173467.0,48505.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,38422.0,219136.0,61215.0,201738.0,88853.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,119529.0,166863.0,17453.0,35389.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,16742.0,294690.0,61215.0,34486.0,274088.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
224036,296100,166516.0,33011.0,274088.0,199606.0,88853.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
224037,296101,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
224038,296102,153644.0,289056.0,158282.0,139095.0,242383.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
224039,296105,68336.0,6613.0,82064.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
224040,296110,281202.0,140302.0,61215.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
training_data = load_training_data("trainItem2.txt", artist_data, genre_data, album_data)
training_data.to_pandas()

          UserID  ItemID ItemType  Rating
0         199808  248969   Artist      90
1         199808    2663   Artist      90
2         199808   28341   Artist      90
3         199808   42563   Artist      90
4         199808   59092   Artist      90
...          ...     ...      ...     ...
12403570  249011  270557   Artist      90
12403571  249011  273574   Artist      90
12403572  249011  286938   Artist      90
12403573  249011  287681    Genre      80
12403574  249011  295381   Artist      90

[12403575 rows x 4 columns]

In [9]:
# Get unique User IDs from test set
testing_user_ids = list(set(test_data['UserID']))
testing_user_ids

[199810,
 199812,
 199813,
 199814,
 199815,
 199816,
 199817,
 199818,
 199819,
 199820,
 199821,
 199822,
 199823,
 199824,
 199826,
 199827,
 199830,
 199838,
 199839,
 199844,
 199845,
 199846,
 199847,
 199853,
 199854,
 199855,
 199858,
 199859,
 199861,
 199862,
 199863,
 199866,
 199868,
 199873,
 199876,
 199880,
 199882,
 199884,
 199886,
 199890,
 199891,
 199894,
 199895,
 199896,
 199899,
 199900,
 199902,
 199907,
 199911,
 199912,
 199914,
 199915,
 199918,
 199920,
 199921,
 199924,
 199926,
 199928,
 199931,
 199932,
 199934,
 199936,
 199937,
 199939,
 199941,
 199944,
 199947,
 199949,
 199954,
 199955,
 199958,
 199961,
 199962,
 199963,
 199966,
 199973,
 199974,
 199976,
 199977,
 199981,
 199982,
 199983,
 199984,
 199989,
 199991,
 199996,
 199997,
 200000,
 200008,
 200011,
 200015,
 200017,
 200020,
 200022,
 200024,
 200031,
 200032,
 200033,
 200034,
 200039,
 200042,
 200044,
 200045,
 200046,
 200049,
 200053,
 200054,
 200055,
 200061,
 200062,
 200063,
 200065,
 200066,
 200067,
 200069,
 200070,
 200071,
 200072,
 200073,
 200074,
 200077,
 200081,
 200083,
 200084,
 200085,
 200096,
 200098,
 200099,
 200100,
 200101,
 200104,
 200105,
 200106,
 200112,
 200116,
 200117,
 200118,
 200124,
 200126,
 200127,
 200128,
 200138,
 200140,
 200141,
 200143,
 200145,
 200148,
 200151,
 200152,
 200154,
 200155,
 200156,
 200158,
 200159,
 200160,
 200162,
 200163,
 200165,
 200166,
 200168,
 200173,
 200174,
 200176,
 200179,
 200182,
 200186,
 200191,
 200193,
 200195,
 200198,
 200203,
 200205,
 200207,
 200209,
 200212,
 200213,
 200216,
 200217,
 200223,
 200224,
 200229,
 200232,
 200234,
 200236,
 200237,
 200240,
 200241,
 200242,
 200243,
 200250,
 200251,
 200256,
 200257,
 200258,
 200263,
 200266,
 200269,
 200270,
 200273,
 200278,
 200279,
 200280,
 200283,
 200288,
 200293,
 200296,
 200298,
 200302,
 200303,
 200306,
 200308,
 200309,
 200310,
 200311,
 200312,
 200313,
 200314,
 200319,
 200322,
 200327,
 200333,
 200335,
 200336,
 200338,
 200342,
 200343,
 200344,
 200348,
 200349,
 200356,
 200359,
 200360,
 200361,
 200364,
 200367,
 200368,
 200369,
 200370,
 200371,
 200374,
 200383,
 200384,
 200385,
 200387,
 200389,
 200391,
 200393,
 200394,
 200398,
 200400,
 200401,
 200406,
 200407,
 200413,
 200414,
 200416,
 200419,
 200420,
 200427,
 200429,
 200430,
 200431,
 200434,
 200437,
 200440,
 200442,
 200446,
 200447,
 200449,
 200450,
 200451,
 200452,
 200455,
 200457,
 200459,
 200461,
 200463,
 200465,
 200468,
 200475,
 200476,
 200481,
 200482,
 200484,
 200486,
 200490,
 200494,
 200495,
 200497,
 200499,
 200500,
 200504,
 200506,
 200510,
 200511,
 200515,
 200522,
 200524,
 200527,
 200530,
 200537,
 200540,
 200541,
 200542,
 200544,
 200549,
 200551,
 200552,
 200555,
 200556,
 200558,
 200560,
 200561,
 200563,
 200564,
 200565,
 200567,
 200568,
 200569,
 200571,
 200572,
 200574,
 200582,
 200584,
 200590,
 200592,
 200594,
 200596,
 200598,
 200599,
 200604,
 200607,
 200610,
 200611,
 200612,
 200613,
 200617,
 200619,
 200620,
 200624,
 200625,
 200626,
 200628,
 200633,
 200634,
 200637,
 200641,
 200644,
 200646,
 200650,
 200651,
 200652,
 200654,
 200658,
 200659,
 200660,
 200662,
 200664,
 200665,
 200666,
 200667,
 200668,
 200669,
 200672,
 200674,
 200679,
 200682,
 200684,
 200686,
 200689,
 200691,
 200699,
 200701,
 200702,
 200705,
 200707,
 200708,
 200710,
 200713,
 200715,
 200719,
 200722,
 200725,
 200726,
 200728,
 200731,
 200736,
 200741,
 200743,
 200744,
 200745,
 200747,
 200748,
 200749,
 200753,
 200759,
 200760,
 200762,
 200763,
 200768,
 200770,
 200771,
 200774,
 200775,
 200777,
 200778,
 200779,
 200780,
 200781,
 200784,
 200786,
 200788,
 200790,
 200791,
 200793,
 200794,
 200795,
 200800,
 200802,
 200803,
 200811,
 200813,
 200816,
 200819,
 200820,
 200821,
 200822,
 200823,
 200824,
 200826,
 200829,
 200831,
 200833,
 200834,
 200836,
 200837,
 200843,
 200850,
 200851,
 200855,
 200856,
 200859,
 200860,
 200861,
 200863,
 200864,
 200868,
 200870,
 200874,
 200876,
 200878,
 200880,
 200884,
 200887,
 200896,
 200897,
 200903,
 200904,
 200905,
 200909,
 200911,
 200913,
 200916,
 200917,
 200919,
 200927,
 200928,
 200930,
 200931,
 200932,
 200933,
 200934,
 200935,
 200936,
 200938,
 200940,
 200945,
 200946,
 200948,
 200951,
 200954,
 200955,
 200956,
 200958,
 200959,
 200961,
 200962,
 200970,
 200976,
 200977,
 200979,
 200980,
 200983,
 200984,
 200986,
 200987,
 200989,
 200991,
 200993,
 200994,
 200998,
 200999,
 201001,
 201002,
 201003,
 201006,
 201008,
 201010,
 201011,
 201013,
 201016,
 201017,
 201019,
 201023,
 201031,
 201037,
 201041,
 201042,
 201045,
 201046,
 201047,
 201049,
 201061,
 201063,
 201065,
 201066,
 201069,
 201070,
 201072,
 201073,
 201074,
 201075,
 201080,
 201082,
 201083,
 201084,
 201091,
 201093,
 201094,
 201097,
 201102,
 201104,
 201106,
 201107,
 201117,
 201118,
 201119,
 201121,
 201123,
 201126,
 201127,
 201132,
 201138,
 201140,
 201142,
 201143,
 201147,
 201150,
 201151,
 201153,
 201155,
 201156,
 201157,
 201158,
 201159,
 201160,
 201161,
 201164,
 201165,
 201166,
 201167,
 201173,
 201175,
 201176,
 201177,
 201178,
 201179,
 201183,
 201186,
 201188,
 201190,
 201194,
 201197,
 201198,
 201201,
 201208,
 201216,
 201217,
 201218,
 201227,
 201228,
 201231,
 201232,
 201235,
 201237,
 201238,
 201241,
 201243,
 201244,
 201246,
 201247,
 201248,
 201249,
 201250,
 201251,
 201252,
 201254,
 201255,
 201262,
 201265,
 201266,
 201267,
 201268,
 201272,
 201273,
 201275,
 201276,
 201277,
 201279,
 201280,
 201284,
 201286,
 201287,
 201292,
 201296,
 201298,
 201299,
 201300,
 201304,
 201305,
 201307,
 201309,
 201310,
 201312,
 201313,
 201314,
 201315,
 201320,
 201324,
 201328,
 201329,
 201331,
 201333,
 201336,
 201339,
 201340,
 201346,
 201347,
 201349,
 201352,
 201354,
 201358,
 201361,
 201365,
 201369,
 201371,
 201372,
 201373,
 201376,
 201379,
 201380,
 201381,
 201383,
 201388,
 201391,
 201392,
 201394,
 201396,
 201397,
 201402,
 201403,
 201404,
 201405,
 201408,
 201409,
 201410,
 201412,
 201413,
 201422,
 201424,
 201426,
 201430,
 201433,
 201434,
 201435,
 201436,
 201441,
 201443,
 201447,
 201450,
 201451,
 201452,
 201454,
 201459,
 201460,
 201462,
 201464,
 201467,
 201469,
 201472,
 201479,
 201482,
 201484,
 201498,
 201499,
 201501,
 201502,
 201503,
 201505,
 201508,
 201510,
 201514,
 201519,
 201521,
 201522,
 201526,
 201532,
 201534,
 201535,
 201537,
 201538,
 201539,
 201545,
 201548,
 201549,
 201552,
 201553,
 201554,
 201556,
 201557,
 201562,
 201564,
 201566,
 201567,
 201568,
 201570,
 201572,
 201575,
 201581,
 201582,
 201583,
 201585,
 201590,
 201591,
 201593,
 201595,
 201599,
 201605,
 201608,
 201611,
 201613,
 201614,
 201615,
 201617,
 201620,
 201621,
 201622,
 201623,
 201625,
 201628,
 201629,
 201633,
 201636,
 201641,
 201649,
 201650,
 201652,
 201659,
 201660,
 201661,
 201664,
 201668,
 201669,
 201671,
 201676,
 201681,
 201683,
 201685,
 201688,
 201690,
 201692,
 201695,
 201698,
 201701,
 201702,
 201703,
 201709,
 201712,
 201715,
 201716,
 201720,
 201723,
 201727,
 201733,
 201734,
 201735,
 201736,
 201739,
 201742,
 201746,
 201749,
 201750,
 201751,
 201752,
 201756,
 201758,
 201763,
 201764,
 201766,
 201768,
 201771,
 201772,
 201775,
 201777,
 201779,
 201781,
 201782,
 201786,
 201787,
 201790,
 201792,
 201796,
 201797,
 201798,
 201802,
 201803,
 201807,
 201809,
 201813,
 201817,
 201818,
 201819,
 201822,
 201823,
 201825,
 201829,
 201830,
 201834,
 201835,
 201836,
 201839,
 201842,
 201845,
 201846,
 201847,
 201849,
 201851,
 201852,
 201855,
 201861,
 201862,
 201866,
 201867,
 201868,
 201870,
 201872,
 201873,
 201874,
 201875,
 201876,
 201888,
 201889,
 201892,
 201894,
 201895,
 201896,
 201897,
 201900,
 201902,
 201903,
 201904,
 201905,
 201906,
 201907,
 201908,
 201913,
 201916,
 201919,
 201922,
 201928,
 201929,
 201930,
 201932,
 201933,
 201935,
 201936,
 201943,
 201947,
 201949,
 201950,
 201953,
 201954,
 201955,
 201957,
 201958,
 201959,
 201961,
 201962,
 201963,
 201965,
 201973,
 201976,
 201980,
 201982,
 201983,
 201985,
 201988,
 201992,
 201995,
 202001,
 202009,
 202015,
 202017,
 202019,
 202024,
 202026,
 202027,
 202028,
 202034,
 202037,
 202038,
 202039,
 202043,
 202044,
 202046,
 202047,
 202050,
 202051,
 202056,
 202058,
 202063,
 202064,
 202066,
 202072,
 202075,
 202076,
 202079,
 202082,
 202084,
 202085,
 202087,
 202095,
 202096,
 202097,
 202100,
 202101,
 202103,
 202104,
 202105,
 202108,
 202110,
 202111,
 202112,
 202114,
 202118,
 202119,
 202120,
 202121,
 202122,
 202123,
 202130,
 202132,
 202134,
 202136,
 202137,
 202139,
 202140,
 202142,
 202144,
 202146,
 202147,
 202149,
 202156,
 202158,
 202162,
 202164,
 202169,
 202171,
 202172,
 202175,
 202179,
 202180,
 202184,
 202185,
 202186,
 202187,
 202188,
 202192,
 202200,
 202207,
 202208,
 202212,
 202213,
 202216,
 202217,
 202220,
 202221,
 202223,
 202228,
 202230,
 ...]

<font size="6">Part 2 - Track Scoring</font>
<font size="4">This code segment is responsible for scoring tracks based on their known ratings. If they are unrated, it will attempt to score them based on their known album and artist ratings. The name of the game here is optimization, as due to the sheer size of the dataset every added comparison results in millions more checks to run before the program completes.</font>

In [10]:
# Initialize final output dictionary
recommendations = {}

# Run for each unique user
for user_id in testing_user_ids:
    # Individual track scores for this user
    user_scores = {}

    # Track IDs to rate
    user_testing_tracks = test_data.filter(pl.col('UserID') == user_id)
    
    # Number of tracks to recommend
    num_user_recommendations = math.ceil(len(user_testing_tracks) / 2)
    
    # Known user reviews for the current user
    user_ratings = training_data.filter(pl.col('UserID') == user_id)
    
    # For loops are highly unoptimized on DataFrames - converting to a native dict is faster here
    for track in user_testing_tracks.to_dicts():
        track_id = track['TrackID']
        
        # If the user has already rated the track, no scoring calculation is needed to approximate
        # their rating - we'll just use the rating they gave. I don't believe our current test set
        # actually includes this scenario, but it's good to handle for future-proofing and real-world use.
        user_track_rating = user_ratings.filter((pl.col('ItemType') == 'Track') & (pl.col('ItemID') == track_id))
        if len(user_track_rating) > 0:
            user_scores[track_id] = user_track_rating['Rating'].to_list()[0]

        # Handle tracks that the user hasn't rated - this is the main part of the program.
        else:
            # Look up the artist and album for the track
            track_info = track_data.filter(pl.col('TrackID') == track_id).to_dicts()[0]
            album_id = track_info['AlbumID']
            artist_id = track_info['ArtistID']

            # Initialize score to 0
            score = 0

            # Check if the user has rated the artist
            if artist_id != "NaN":
                artist_rating = user_ratings.filter((pl.col('ItemType') == 'Artist') & (pl.col('ItemID') == artist_id))
                if len(artist_rating) > 0:
                    # Artist and album scores each count for half the weight of a full rating
                    # This is because we aren't CERTAIN the user will like or dislike the song
                    # from these factors alone, so they should be considered less heavily than
                    # if the user has actually given the track a rating directly.
                    score += artist_rating['Rating'].to_list()[0] * 0.5

            # Check if the user has rated the album
            if album_id != "NaN":
                album_rating = user_ratings.filter((pl.col('ItemType') == 'Album') & (pl.col('ItemID') == album_id))
                if len(album_rating) > 0:
                    # Artist and album scores each count for half the weight of a full rating
                    # This is because we aren't CERTAIN the user will like or dislike the song
                    # from these factors alone, so they should be considered less heavily than
                    # if the user has actually given the track a rating directly.
                    score += album_rating['Rating'].to_list()[0] * 0.5

            # Use our computed score to rate the song (our prediction)
            user_scores[track_id] = score

    # Sort the user_scores by their final ratings
    sorted_user_scores = {k: v for k, v in sorted(user_scores.items(), key=lambda item: item[1], reverse=True)}

    # Add the top num_user_recommendations to recommendations
    for i, (track_id, score) in enumerate(sorted_user_scores.items()):
        recommendations[f'{user_id}_{track_id}'] = 1 if i < num_user_recommendations else 0

# Convert recommendations to a DataFrame for writing
recommendations_df = pl.DataFrame({
    "TrackID": list(recommendations.keys()),
    "Predictor": list(recommendations.values())
})

# Write the DataFrame to a CSV file - program completed
recommendations_df.write_csv("predictions.csv")

KeyboardInterrupt: